.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deployed-projects-header {
  font-size: 60px;
  font-weight: 900;
  margin: 25px 5%;
  color: #a39bd3;
}

.project-cards {
  width: 90%;
  z-index: 1;
}

.project-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-card {
  width: 60%;
  padding: 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  font-size: 30px;
  margin: 10px 20px 0px 20px;
  color: white;
  font-weight: 700;
}

.project-screenshot-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.project-screenshot {
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  margin: 20px 20px 0px 20px;
}

.project-tech-flares-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px;
}

.tech-flare {
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  margin: 2px;
  padding: 1px 5px;
  color: #6c63ff;
}

.project-description {
  color: white;
  margin: 0px 20px;
  font-size: 17px;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-button {
  margin: 15px;
}

.project-name-div {
  justify-content: center;
}

@media (max-width: 1200px) {
  .project-cards {
    height: 800px;
  }
}

@media (max-width: 768px) {
  .project-card {
    display: block;
    margin: 0px;
    width: 80%;
  }

  .project-cards {
    width: 100%;
    height: 100%;
  }

  .deployed-projects-header {
    text-align: center;
  }

  .project-screenshot {
    width: 555px;
    height: 275px;
    margin: 10px 0px;
  }

  .project-name {
    text-align: center;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 125px;
  }

  .project-tech-flares-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
