.repo-card-div {
  color: rgb(88, 96, 105);
  padding: 20px;
  cursor: pointer;
  color: white;
  width: 25%;
  margin: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.repo-card-div:hover {
  box-shadow: rgba(88, 96, 105) 0px 5px 15px;
  transition: 0.3s;
}

.repo-left-stat {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  color: lightgrey;
}

.repo-left-stat span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  height: 50px;
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repo-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  margin: 0px;
}

.repo-description {
  overflow: hidden;
  display: block;
  color: white;
  height: 85px;
  text-align: start;
}

@media (max-width: 768px) {
  .repo-name-div {
    height: 30px;
  }

  .repo-name {
    font-size: 15px;
  }

  .repo-description {
    font-size: 13px;
  }

  .repo-left-stat {
    font-size: 13px;
    align-items: flex-end;
  }
}

@media (max-width: 375px) {
  .repo-name {
    font-size: 12px;
  }

  .repo-description {
    font-size: 10px;
  }

  .repo-left-stat {
    font-size: 10px;
    align-items: flex-end;
  }
}
