.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repocards-div-main {
  margin: 0 auto;
  display: flex;
}

.material-cards {
  width: 100%;
}

.projects-heading {
  font-size: 40px;
  margin: 25px 5%;
}

/* Media Query */
@media (max-width: 768px) {
.repocards-div-main{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}