.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repocards-div-main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.material-cards {
  width: 100%;
}

.projects-heading {
  margin: 25px 5%;
  color: #a39bd3;
}

/* Media Query */
@media (max-width: 768px) {
  .repocards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .projects-heading {
    margin: 25px 5%;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .projects-heading {
    margin-bottom: 0px;
    font-size: 40px;
  }
}
