.main {
  margin-top: 0px;
}

.about-me-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.about-me-text-div {
  margin-right: 100px;
  color: #a39bd3;
}

.about-me-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.about-me-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-image-div > img {
  max-width: 100%;
  width: 90%;
}

.about-me-heading {
  font-size: 40px;
  margin: 30px 0px;
  color: #a39bd3;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-aboutme-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .about-me-heading {
    font-size: 30px;
    text-align: center;
  }

  .about-me-main-div {
    flex-direction: column;
  }

  .about-me-text-div {
    margin-left: 0px;
    margin: 20px;
  }

  .about-me-text {
    font-size: 16px;
  }

  .about-me-text-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .about-me-image-div {
    /* display: none; */
    order: 2;
  }
}
