.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievement-main-div {
  flex: 1;
  background-color: #a39bd3;
  background-image: url(../../assets/images/wave_repo_card.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
  height: 650px;
  padding: 30px;
}

.achievement-heading {
    font-size: 45px;
    color: white;
    margin-top: 0;
  }

  .achievement-subtitle {
    text-transform: uppercase;
    color: white;
  }
  /* Media Query */
  @media (max-width: 1380px) {
    .achievement-heading {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .achievement-heading {
      font-size: 30px;
      text-align: center;
    }
    .achievement-subtitle {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }
  }