@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"), url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}

code {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  min-width: 375px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

/* Media Query */
@media (max-width: 1380px) and (max-width: 768px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
